 <!-- Sidebar Content -->
 <div id="sidebar">
    <nav class="mt-8">
       <a href="#" class="block px-4 py-2 text-sm text-gray-400 hover:bg-gray-700 hover:text-black" style="font-size: 20px; margin-top: 12px; text-align: center; border-radius: 10px; width: 200px; margin-left: auto; margin-right: auto; text-decoration: none;">Dashboard</a>
       <a href="{% url 'c3d2' %}" class="block px-4 py-2 text-sm text-gray-400 hover:bg-gray-700 hover:text-black" style="font-size: 20px; margin-top: 12px; text-align: center; border-radius: 10px; width: 200px; margin-left: auto; margin-right: auto; text-decoration: none;">C3D2</a>
       <a href="{% url 'epmd' %}" class="block px-4 py-2 text-sm text-gray-400 hover:bg-gray-700 hover:text-black" style="font-size: 20px; margin-top: 12px; text-align: center; border-radius: 10px; width: 200px; margin-left: auto; margin-right: auto; text-decoration: none;">EPMD</a>
       <a href="{% url 'tmd' %}" class="block px-4 py-2 text-sm text-gray-400 hover:bg-gray-700 hover:text-black" style="font-size: 20px; margin-top: 12px; text-align: center; border-radius: 10px; width: 200px; margin-left: auto; margin-right: auto; text-decoration: none;">TMD</a>
       <a href="{% url 'projectClick' %}" class="block px-4 py-2 text-sm text-gray-400 hover:bg-gray-700 hover:text-black" style="font-size: 20px; margin-top: 12px; text-align: center; border-radius: 10px; width: 200px; margin-left: auto; margin-right: auto; text-decoration: none;">Project Click</a>
       <a href="" class="block px-4 py-2 text-sm text-gray-400 hover:bg-gray-700 hover:text-black" style="font-size: 20px; margin-top: 12px; text-align: center; border-radius: 10px; width: 200px; margin-left: auto; margin-right: auto; margin-top:100%; text-decoration: none;">Logout</a>
     </nav>
   </div>
   
   